*{
    box-sizing: border-box;
}

/* element selector */
/* ref : colorhunt  */

/* Mobile Hp */
body{
    background-color: #35374B ;
}

/* CSS Tablet */
@media screen and (min-width : 600px) {
    body{
        background-color: blue;
    }
    .col-sm-6{
        width: 50%;
        float: left;
    }


     .col-12 {
    width: 100%;
    background-color: cadetblue;
    float: left;
    }

    
}

/* CSS DESKTOP */
@media screen and (min-width : 992px) {
    body{
        background-color: green;
    }
    .col{
    width: 25%;
    background-color: yellow;
    float: left;
    }

    .col-4 {
    width: 33.33%;
    background-color: aqua;
    float: left;
    }

      .col-lg-6{
    width: 50%;
    float: left;
    background-color: yellow;
    }

}

 /* Class Selector */
 

.img-responsive0{
    width: 100%;
    max-height: 400px;
}

.text-center{
    text-align: center;
}

.bg-primary{
    background-color: #344955;
}

.img-rounded{
    border-radius: 20px;
}

.rounded{
    /* TOP LEFT - TOP RIGHT - BOTTOM RIGHT - BOTTOM LEFT */
    border-radius: 50% 50% 0% 0%;
}

.row::after{
    content: "";
    clear: both;
    display: table;
}

.height{
    max-height: 100px;
}

.p-1{
    padding: 10px;
}